* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    // position: sticky;
}

.aboutImage {
    max-width: 500px;
    height: auto;
}

.card {
    text-align: center;
}