* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.aboutImage {
    max-width: 500px;
    height: auto;
    width: 100%;
}

.card {
    text-align: center;
}

#title {
    text-align: center;
}

.content {
    margin: 20px 7%;
}

button {
    border: 2px solid black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-color: #e7e7e7;
} 

.row {
    text-align: center;
    margin: 4% 0;
}